@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "manrope";
  src: url(../fonts/Manrope-ExtraBold.ttf) format("truetype");
}

html {
  font-family: "manrope", sans-serif;
}

body {
  background-color: hsl(218, 23%, 16%);
}
